<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.testplatform.engine" level="DEBUG"/>
    <logger name="io.vertx" level="INFO"/>
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.openqa.selenium" level="WARN"/>
    <logger name="io.appium" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>